@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Remove ALL outlines */
*:focus {
  outline: none !important;
}

/* Specifically for Recharts */
.recharts-wrapper,
.recharts-surface,
.recharts-legend-wrapper,
.recharts-default-legend {
  outline: none !important;
}